
Tareas/T3/.vscode/c_cpp_properties.json
Tareas/T3/.vscode/launch.json
Tareas/T3/.vscode/tasks.json
Tareas/T3/helloworld.exe
Tareas/T3/helloworld.ilk
Tareas/T3/helloworld.obj
Tareas/T3/helloworld.pdb
Tareas/T3/TDALista.exe
Tareas/T3/TDALista.ilk
Tareas/T3/TDALista.obj
Tareas/T3/TDALista.pdb
Tareas/T3/vc140.pdb
